  {% header "HTTP/1.0 404 Not Found" %}
  <article>
    <h2>Awww, there are no entries for this {{ type }}.</h2>
    <h3>But here's a Cage at least.</h3>
    <img src="http://www.placecage.com/c/600/400" alt="Bummer, here's a cage at least.">
  </article>